{% extends "./base.html" %}
{% block title %} Bookings {% endblock %}

{% block content %}
<h1> Bookings </h1>
  <div class="row">
      {% if not bookings %}
      <p> There are no bookings yet </p>
      {% else %}
        {% for booking in bookings %}
    <div class="col-md-6">
      <p>
      Address: {{ booking.prop.address }}
      From: {{ booking.date_from }}
      Until: {{ booking.date_until }}
      </p>
    </div>
    <div class="col-md-2">
      <form action="{% url 'ptb:booking_info' booking.id %}" method="get"> {% csrf_token %}
        <button type="submit" class="btn btn-success btn-sm"/>
        View Booking </button>
      </form>
    </div>
    <div class="col-md-4"> </div><br>
    {% endfor %}
  {% endif %}
  </div>
{% endblock %}
