{% extends "./base.html" %}
{% block title %} Edit Booking {% endblock %}
{% block content %}
{% if edit == True %}
  <h2 class='subtitle'> Edited! </h2> <br>
  <p> Name: {{ booking.first_name }} {{ booking.last_name }} </p> <br>
  <p> Contact: {{ booking.email }} </p> <br>
  <p> From: {{ booking.date_from }} </p> <br>
  <p> To: {{ booking.date_until }}</p> <br>
{% else %}
  <p>
    <form class="form" method="POST">  {% csrf_token %}
      <div class="form-group"> 
        {{ form }}
        <button type="submit" class="btn btn-success btn-sm"> Save </button>
      </div>  
    </form>
  </p>
{% endif %}
{% endblock %}
