{% extends "./base.html" %}
{% block title %} Client Properties {% endblock %}

{% block content %}
  <h2> {{ client.first_name }} {{ client.last_name }} </h2> <br>

  {% if not properties %}
    <h2> This client has no properties yet</h2>
  {% else %}
  <h2> Properties </h2>
    {% for property in properties %}
      <div>
        <p> Address: {{ property.address }} </p>
        <form action="{% url 'ptb:property_info' property.id %}" method="get"> {% csrf_token %}
          <button type="submit" class="btn btn-md btn-success"> Property Details </button>
        </form>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
