{% extends "./base.html" %}

{% block content %}
  {{ client.first_name }} {{ client.last_name }} <br>

  {% if not properties %}
    <p> This client has no properties yet</p>
  {% else %}
    {% for property in properties %}
      <div>
        <p> Address: {{ property.address }} </p>
        <form action="{% url 'ptb:property_info' property.id %}" method="post"> {% csrf_token %}
          <input type="submit" value="More Info on this property" />
        </form>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
