{% extends "./base.html" %}
{% block title %} {{ client.first_name }} {{ client.last_name }} {% endblock %}

{% block content %}
  <p> Name: {{ client.first_name }} {{ client.last_name }} <br>
      Email: {{ client.email }} </p> 
  <form action="{% url 'ptb:client_edit' client.id %}" method="get"> {% csrf_token %}
    <button type="submit" class="btn btn-success"> Edit </button>
  </form>
    <form action="{% url 'ptb:properties' client.id %}" method="get"> {% csrf_token %}
      <button type="submit" class="btn btn-success"> Client Properties </button>
    </form>
{% endblock %}
