{% extends "./base.html" %}
{% block title %} Property No.{{ property.id }} {% endblock %}
{% block content %}

Property <br>
Address: {{ property.address }} <br>
Bathrooms: {{ property.bathrooms }} <br>
Bedrooms: {{ property.bedrooms }} <br>
Pet Friendly: {% if property.pet_friendly %}
                Yes
              {% else %}
                No
              {% endif %}
              <form action="{% url 'ptb:property_edit' property.id %}" method="get"> {% csrf_token %}
                <input type="submit" value="Edit" />
              </form> <br>
              
              <form action="{% url 'ptb:client_info' property.owner.id %}" method="get"> {% csrf_token %}
                <input type="submit" value="Client Details" />
              </form>

<br> <br>
  {% if bookings %}
    {% for booking in bookings %}
      Booked from
      {{ booking.date_from }} until
      {{ booking.date_until }}
      <form action="{% url 'ptb:booking_info' booking.id %}" method="get"> {% csrf_token %}
        <input type="submit" value="Booking Details" />
      </form>
      <br> <br>
    {% endfor %}
  {% else %}
    This property has not been booked yet
  {% endif %}
{% endblock %}
