{% extends "./base.html" %}
{% block title %} Edit {% endblock %}
{% block content %}
{% if edit == True %}
  <h2> Edited Successfully </h2> <br>
  <p>
  New Details <br>
  Address: {{ property.address }} <br>
  Bathrooms: {{ property.bathrooms }} <br>
  Bedrooms: {{ property.bedrooms }} <br>
  Pet Friendly: {% if property.pet_friendly %}
                  Yes
                {% else %}
                  No
                {% endif %} </p>
{% else %}
  <form method="POST">  {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-md btn-success"> Save </button>
  </form>
{% endif %}
{% endblock %}
