{% extends "./base.html" %}
{% block title %} Properties {% endblock %}
{% block content %}
<h1> All Properties </h1>
  {% if not properties %}
    <p> There are no properties listed yet </p>
  {% else %}
    {% for property in properties %}
      <div>
        <p> Address: {{ property.address }} </p>
        <p> Client: {{ property.owner }} </p>
        <form action="{% url 'ptb:property_info' property.id %}" method="get"> {% csrf_token %}
          <input type="submit" value="View Property" />
        </form>
      </div>
    {% endfor %}
    {%endif %}
{% endblock %}
