{% extends "./base.html" %}
{% block title %} Edit {% endblock %}
{% block content %}
{% if edit == True %}
  Edited Succesfully. <br>
  New Details: <br>
  Address: {{ property.address }} <br>
  Bathrooms: {{ property.bathrooms }} <br>
  Bedrooms: {{ property.bedrooms }} <br>
  Pet Friendly: {% if property.pet_friendly %}
                  Yes
                {% else %}
                  No
                {% endif %}
{% else %}
  <form method="POST">  {% csrf_token %}
    {{ form }}
    <button type="submit"> save </button>
  </form>
{% endif %}
{% endblock %}
