{% extends "./base.html" %}
{% block title %} Property No.{{ property.id }} {% endblock %}
{% block content %}

<h1> Property No. {{ property.id }}</h1> <br>
<p> Address: {{ property.address }} <br>
    Bathrooms: {{ property.bathrooms }} <br>
    Bedrooms: {{ property.bedrooms }} <br>
    Pet Friendly: {% if property.pet_friendly %}
                  Yes
                {% else %}
                  No
                {% endif %} </p>
              <form action="{% url 'ptb:property_edit' property.id %}" method="get"> {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm"/> Edit </button>
              </form> <br>
              <form action="{% url 'ptb:client_info' property.owner.id %}" method="get"> {% csrf_token %}
                <button type="submite" class="btn btn-success"> Client Details </button>
              </form>
<br> <br>
  {% if bookings %}
    {% for booking in bookings %}
      <p> Booked from
      {{ booking.date_from }} until
      {{ booking.date_until }} </p> 
      <form action="{% url 'ptb:booking_info' booking.id %}" method="get"> {% csrf_token %}
<button type="submit" class="btn btn-success"> Booking Information </button> </form>
      <br> <br>
    {% endfor %}
  {% else %}
    This property has not been booked yet
  {% endif %}
{% endblock %}
